.about {
  padding: 50px 20px;
  background-color: rgba(212, 210, 246, 1);
  width: 100%;
}

.about h2 {
  font-size: 32px;
  text-align: center;
  padding: 2px;
  font-weight: bold;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure the content spreads across the section */
  width: 100%;
}

.about img {
  width: 400px;
  position: relative;
  left: 50px;
  height: 200px;
}

.about p {
  font-size: 18px;
  flex: 1; /* Allow the paragraph to take available space */
  width: auto; /* Remove fixed width to allow flexibility */
  padding-right: 20px; /* Add some padding on the right for spacing */
  line-height: 30px;
  margin: 30px;
  text-align: left; /* Align the text to the left */
  padding: 30px;
  text-align: center;
}
